* {
    margin: 0;
    padding: 0;
   
}

body {
    background: #eee;
}

.TodoPanel{
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.TodoPanel h1{
    color: #fff;
    background: #9A47FF;
    padding: 10px 0;
    border-bottom: 1px solid #666;
}

.TodoPanel ul{
    list-style: none;

}

.TodoPanel li {
    border-bottom: 1px solid #ddd;
    text-align: left;
    height: 40px;
    line-height: 40px;
    padding-left: 20px; 
}

.TodoPanel li:hover{
    background: #eee;
}

.TodoPanel button{
    background: none;
    border: none;
    outline: none;
    float: right;
    font-size: 1.2rem;
    height: 40px;
    width: 40px;
    cursor: pointer;
    
}

.TodoPanel button:hover{
    color: #9A47FF;
}

.TodoPanel .AddListItem{
    padding-left: 0;
    font-size: 0;
}

.TodoPanel .AddListItem input{
    height: 40px;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    padding-left: 20px;
    width: calc(100% - 60px);
    
}

.TodoPanel .AddListItem button{
    background: #9A47FF;
    color: #fff;
    
}

.fa-circle, .fa-check-circle{
    padding-right: 10px;
}